{% extends 'base.html' %}
{% load static %}
{% block content %}



<body>

  <section class="container">
    <div class="row">
      <div class="col-md-8">
        <div class="">
        <div class="col">
      

      </div>
      <h1 class="communityhead pt-3">Trending Questions in {{ filtercategory.category }}</h1>
      </div>
     

<!-- Question -->

         
      <div class=" mt-2">
    {% for questions in question_list %}
       <div class="communityborder relatedbgcolor">
       <p class="relatedquestion">{{questions.question}}</p>
       <div class="row smallhead">
        <div class="col">
          Asked by <span class="namecolor">Sairam</span>
        </div>
         <div class="col">
          Category: <span class="namecolor">Data Science</span>
        </div>
         <div class="col">
          Views: 4
        </div>
         <div class="col">
          1 Answer
        </div>
       </div>
     </div>
          {% endfor %}
     </div>




     <div class="mt-5 mb-5 paginationpadding">

     <nav aria-label="Page navigation example">
  <ul class="pagination">
    <li class="page-item"><a class="page-link" href="#">Previous</a></li>
    <li class="page-item"><a class="page-link" href="#">1</a></li>
    <li class="page-item"><a class="page-link" href="#">2</a></li>
    <li class="page-item"><a class="page-link" href="#">3</a></li>
      <li class="page-item"><a class="page-link" href="#">4</a></li>
        <li class="page-item"><a class="page-link" href="#">5</a></li>
          <li class="page-item"><a class="page-link" href="#">6</a></li>
            <li class="page-item"><a class="page-link" href="#">7</a></li>
    <li class="page-item"><a class="page-link" href="#">Next</a></li>
  </ul>
</nav>

</div>
</div>
      <div class="col-md-4">
       <form action="">
          <div class="input-group mt-5 mt-md-0">
            <input type="search" class="form-control" placeholder="Search.." aria-label="Search" />
            <div class="input-group-append">
              <span class="input-group-text communitysearch">
                <i class="fa fa-search"></i>
              </span>
            </div>
          </div>
        </form>
      <a href="#"><button class="btn questionbtnbig btn-block my-4 p-3">Ask us a question</button></a> 


<div class="mt-4">
 <h2 class="communitysidehead text-uppercase">Categories</h2>
 

 <ul class="communitycategories catname pt-3">
   {% for categorys in category %}
    <a href="{% url 'communityapp:category-detail' categorys.slug %}"><li> {{ categorys.category }}<span class="badge badgenumber">89</span></li></a>
      {% endfor %}
  </ul>

 
    </div>
  </div>

  </section>

  
</div>




 
</body>
{% endblock %}