{% extends 'base.html' %}
{% load static %}

{% block content %}
<body>

  <section class="container">
    <div class="row">
      <div class="col-md-8">
        <div class="">
        <div class="col">
      

      </div>
      
      <a href=""><h1 class="communityhead pt-3">{{category.category}}</h1></a>
      
      </div>
     



     
      <div class=" mt-2">
         
        {% for j in category.question_set.all %}
    
       <div class="communityborder relatedbgcolor">
       <a href="{% url 'communityapp:question-detail' j.slug %}"><p class="relatedquestion">{{ j.question }}</p></a>
       

       <div class="row smallhead">
        <div class="col">
          Asked by <span class="namecolor">{{ j.user }}</span>
        </div>
         <div class="col">
          Category: <span class="namecolor">{{ j.category }}</span>
        </div>
         <div class="col">
          Views: 4
        </div>
         <div class="col">
          1 Answer
        </div>
       </div>
     </div>
     {% endfor %}
     

     </div>
     <div class="mt-5 mb-5 paginationpadding">

     <nav aria-label="Page navigation example">
  <ul class="pagination">
    {% if page_obj.has_previous %}
    <li class="page-item"><a class="page-link" href="?page={{ page_obj.previous_page_number }}">Previous</a></li>
    {% endif %}
    {% for num in page_obj.paginator.page_range %}
    {% if page_obj.number == num %}
    <li class="page-item"><a class="page-link" href="?page={{ num }}">{{ num }}</a></li>
    {% elif num > page_obj.number|add:'-3' and num < page_obj.number|add:'3' %}
    <li class="page-item"><a class="page-link" href="?page={{ num }}">{{ num }}</a></li>
    {% endif %}
    {% endfor %}
    {% if page_obj.has_next %}
    <li class="page-item"><a class="page-link" href="?page={{ page_obj.next_page_number }}">Next</a></li>
    {% endif %}
  </ul>
</nav>

</div>
</div>

  <div class="col-md-4">
       <form action="/search/" method="POST" class="form-inline">
        {% csrf_token %}
          <div class="input-group mt-5 mt-md-0">
            <input name="findquestion" type="search" class="form-control" placeholder="Search.." aria-label="Search" />
            <div class="input-group-append">
              <button type="submit" class="btn">Search</button>
              <span class="input-group-text communitysearch">
                <i class="fa fa-search"></i>
              </span>
            </div>
          </div>
        </form>


<!-- Button trigger modal -->
<button type="button" class="btn questionbtnbig btn-block my-4 p-3" data-toggle="modal" data-target="#exampleModalCenter">
  Ask us a question
</button>

     <!-- Modal -->
<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">Ask your question here</h5>
      </div>
      <form action="" Id="submit"  method="POST">
        {% csrf_token %}
        {{ form.as_p }}
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">cancel</button>
        <button type="submit" class="btn btn-primary">submit</button>
      </div>
    </form>
    </div>
  </div>
</div>

         <div class="mb-5">
          <h2 class="communitysidehead text-uppercase">Recent Questions  </h2>
            <ul class="catquestion catname pt-3">
              {% for i in separatecategory %}
              {% for j in i.question_set.all|slice:":6" %}
              <a href="{% url 'communityapp:question-detail' j.slug %}"><li>{{ j.question }}</li></a>
              {% endfor %}
              {% endfor %}
            </ul>
          </div>
          <div class="">
 <h2 class="communitysidehead text-uppercase">Categories</h2>
 
<ul class="communitycategories catname ">
  {% for i in categorys|slice:":10" %}
    <a href="{% url 'communityapp:detail' i.slug %}"><li> {{ i.category }} <span class="badge badgenumber">10</span></li></a>
    {% endfor %}
</ul>
 

</div>
  </div>



  </section>

  
</div>

<script src="https://code.jquery.com/jquery-3.5.1.min.js"
    integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0=" crossorigin="anonymous"></script>
 <script src="https://kit.fontawesome.com/a01bd6bffe.js" crossorigin="anonymous"></script>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
    integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
    crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
    integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
    crossorigin="anonymous"></script>


 
</body>



{% endblock %}